.chartHeader{
    display: flex;
    justify-content: space-between;
}
.container{
    background: #16182E;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.left{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo{
    margin-right: 8px; 
}
.coinName{
    font-size: 20px;
    font-weight: 500;
}
.icon{
    margin-left: 5px;
}
.right{
    display: flex;
}
.valueContainer{
    padding: 0 1rem;
}
.valueContainer:nth-of-type(4) {
    padding-right: 0;
  }
.primaryTxt{
    font-size: 17px;
}
.secondaryTxt{
    font-size: 12px;
    color: #BABAC0;
}
.dynamicTxt{
    font-size: 17px;
    color: #F23B56;
}

.versionContainer{
    background: #16182E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-left: 12px;
}
.version{
    font-size: 12px;
    background: #2F325F;
    padding: 12px;
    cursor: pointer;
}
.versionActive{
    background: #2D42FC;
}


@media (max-width: 800px) {
    .right{
        display: none;
    }
  }



