.chartHeader{
    display: flex;
    justify-content: space-between;
}
.container{
    background: var(--color-black-secondary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo{
    margin-right: 8px; 
}
.coinName{
    font-size: 20px;
    font-weight: 500;
}
.icon{
    margin-left: 5px;
}
.right{
    display: flex;
}
.valueContainer{
    padding: 0 1rem;
}
.valueContainer:nth-of-type(4) {
    padding-right: 0;
  }
.primaryTxt{
    font-size: 17px;
}
.secondaryTxt{
    font-size: 12px;
    color: var(--color-gray);
}
.dynamicTxt{
    font-size: 17px;
    color: var(--color-red);
}

.versionContainer{
    background: var(--color-black-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
}
.version{
    font-size: 12px;
    background: var(--color-outline);
    padding: 12px;
    cursor: pointer;
}
.versionActive{
    background: var(--color-blue);
}


@media (max-width: 800px) {
    .right{
        display: none;
    }
  }



