.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    padding-bottom: 8px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerBtns{
    display: flex;
    gap: 8px;
}

.headerBtn{
    cursor: pointer;
}

.headerRightInput{
    margin-right: 8px;
}


@media (max-width: 448px) {
    .header{
        display: flex;
        flex-direction: column;
    }
  }