.container{
    background: #1F243E;
    padding: 12px;
}

.headerRow{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #BABAC0;
}

.inputRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 12px;
}

.input{
    outline: none;
    border: none;
    background: #1F243E;
    color: #fff;
    font-size: 24px;
    width: 100%;
    /* margin-right: 2rem; */
}

.coinBox{
    padding-left: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.logo{
    margin-right: 8px; 
}
.coinName{
    font-size: 20px;
    font-weight: 500;
}
.icon{
    margin-left: 5px;
}



.swiper{
    margin-top: 12px;
}
.swipperBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.swipperBtn{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #2D42FC;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 8px;
    transition: all 0.2s ease-in-out;
}

.swipperBtn:hover{
    opacity: 0.8;
}

