.button{
    cursor: pointer;
    padding: 8px 2rem;
    color: var(--color-white);
    font-size: 13px;
    font-weight: 400;
    background: var(--color-blue);
    border: 2px solid var(--color-blue);
    width: fit-content;
    transition: all 0.5s ease-in-out;
}

.button:hover{
    opacity: 0.8;
}

.disabled{
    cursor: auto;
    opacity: 0.8;
}

.fullWidth{
    width: 100%;
}

.secondary{
    background: var(--color-blue);
    border: 2px solid var(--color-blue);
    font-weight: 600;
}

.large{
    background: var(--color-blue);
    border: 2px solid var(--color-blue);
    font-weight: 500;
    padding: 12px 3rem;
}

.outline{
    background: transparent;
}