.container{
    position: absolute;
    background: var(--color-black-secondary);
    height: 280px;
    width: 424px;
    border: 1px solid var(--color-outline);
    z-index: 999;
}

.searchInput{
    margin: 1rem 0;
    outline: none;
    width: 100%;
    padding: 10px 16px;
    background: var(--color-black-secondary);
    border: 1px solid var(--color-outline);
    font-size: 16px;
    color: var(--color-white);
}

.coins{
    border-top: 1px solid var(--color-outline);
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 200px;
    overflow-y: scroll;
}

.tableHead{
    text-align: start;
    color: var(--color-gray);
    font-weight: 400;
    padding-bottom: 12px;
}

.tableRow{
    cursor: pointer;
}

.tableDataFirstCol{
    display: flex;
    align-items: center;
    color: var(--color-gray);
}

.coinName{
    padding-left: 6px;
}

.tableData{
    padding-bottom: 12px;
}

@media (max-width: 500px) {
    .container{
        width: 400px;
    }
}

@media (max-width: 450px) {
    .container{
        width: 80%;
    }
}
