.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-top: 2px solid var(--color-outline-secondary);
    margin-top: 10px;
}

.title{
    font-size: 12px;
    color: var(--color-gray);
}

.value{
    color: var(--color-white);
}