.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 1rem; */
    padding-top: 6px;
}

.title{
    font-size: 12px;
    color: #BABAC0;
}

.value{
    /* font-size: 13px; */
    color: #FFFFFF;
}

.divider{
    height: 2px;
    width: 100%;
    background: #23263B;
    margin-top: 10px;
}