:root {
  --color-white: #fff;
  --color-gray: #B8BBC1;
  --color-green: #0BC37F;
  --color-red: #FA3C58;
  --color-blue: #2D42FC;
  --color-black-primary: #08091B;
  --color-black-secondary: #16182E;
  --color-black-tertiary: #1F243E;
  --color-outline: #363965;
  --color-outline-secondary: #23263B;
} 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background: var(--color-black-primary);
  color: var(--color-white);
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}


input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


