.container{

    width: 380px;

    margin-top: 12px;
    border-radius: 4px;
}

.summaryBoxTitle{
    padding: 0 1rem;
}

.divider{
    border-bottom: 2px solid var(--color-outline-secondary);
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4px;
}

.title{
    color: var(--color-gray);
}

.value{
    color: var(--color-white);
}

.progressValue{
    height: 2px; 
    width: 100px; 
    background: linear-gradient(90deg, var(--color-green) 65%, var(--color-red) 65%);
}


@media (max-width: 800px) {
    .container{
        width: 100%;
    }
  }