.container{

    width: 380px;

    background: #16182E;
    /* width: 100%; */
    padding: 1rem 0;
    margin-top: 12px;
}

.summaryBoxTitle{
    /* font-size: 14px; */
    padding: 0 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #23263B;
    margin-bottom: 8px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    padding-top: 6px;
}

.title{
    font-size: 12px;
    color: #BABAC0;
}

.value{
    /* font-size: 13px; */
    color: #FFFFFF;
}

.progressValue{
    height: 2px; 
    width: 100px; 
    background: linear-gradient(90deg, #0CC982 65%, #F73B57 65%);
}


@media (max-width: 800px) {
    .container{
        width: 100%;
    }
  }