.optionsBox{
    background: var(--color-black-secondary);
    padding: 12px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.headerBtn{
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    cursor: pointer;
    background:  #212641;
    transition: all 0.2s ease-in-out;
}

.headerBtn:hover{
    background: #2B3157;
}

.headerActive{
    background: var(--color-blue);
    color: var(--color-white);
}

.headerActive:hover{
    background: var(--color-blue);
}

.headerBtnIcon{
    font-size: 12px;
    margin-right: 8px;
    margin-top: 3px;
}

.headerBtnTxt{
    font-size: 12px;
}

.marketLimitTpRow{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 8px;
    gap: 1rem;
}

.marketLimitTpBtn{
    color: var(--color-gray);
    cursor: pointer;
}

.marketLimitTpBtnActive{
    color: var(--color-white);
    /* font-weight: 600; */
}



@media (max-width: 1048px) {
    .optionsBox{
        margin-right: 12px;
        margin-top: 12px;
        width: calc(100% - 348px);
    }
}


@media (max-width: 800px) {
    .optionsBox{
        width: 100%;
    }
}


